/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

html {
    size: 62.5%;
    font-family: "Quicksand";
}

@font-face {
    font-family: "Quicksand";
    src: url(../assets/fonts/Quicksand/static/Quicksand-Regular.ttf);
}


/* NAV */


nav {
    color: white;
    background-color: black;
    width: 100%;
    list-style-type: none;
    position: fixed;
    top: 0rem;
}

.navFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navFlexHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
}

.logoAndSloganFlex {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.logo {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
}


.list {
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: white;
    list-style-type: none;
    padding-right: 2rem;
}

.pages {
    color: white;
    text-decoration: none;
    padding-right: 2rem;
}


/* BODY */


/* home */

.carousel {
    height: 100%;
    width: 100%;
}

.carouselimg1 {
    height: 100%;
    width: 100%;
}

.carouselimg2 {
    height: 100%;
    width: 100%;
}

.carouselimg3 {
    height: 100%;
    width: 100%;
}

.carouselimg4 {
    height: 100%;
    width: 100%;
}


h2 {
    text-align: center;
}

/* what's new */

.whatsNew {
    background-color: #fe9900;
    align-content: center;
    margin-top: 6.25rem;
    padding-bottom: 2rem;
}

.whatsNewTitle {
    text-align: center;
    padding: 2rem;
}

.newsBoxes {
    width: 90%;
    border-style: dashed;
    border-color: white;
    border-radius: 2rem;
    border-width: 0.1rem;
    align-content: center;
    margin: 1em;
}

.newsFlex {
    display: flex;
    flex-direction: row;
}

.newsVideos {
    padding: 2rem 1rem 2rem 2rem;
}

.textsFlex {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.newsSubTitles {
    padding: 2rem 0rem 2rem 0rem;
}

.newsTexts {
    padding: 0rem 2rem 2rem 2rem;
    text-align: justify;
    font-size: larger;
}

/* catalogue */

.artistsAndCatalogue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.artists{
    text-align: center;
    width: 50%;
    background-color: white;
    margin-top: 6.25rem;
}

.artistsTitle {
    text-align: center;
    padding-top: 2rem;
}

.artistsText {
    text-align: center;
    padding-top: 2rem;
}

.artistImgAgustinAguzzi {
    padding: 3.5em;
    align-content: center;
}

.artistBiancaGironelli {
    padding: 3.5em;
    align-content: center;
}

.catalogueFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catalogue {
    height: 100%;
    width: 50%;
    background-color: #fe9900;
    text-align: center;
    position: fixed;
    top: 6.25rem;
    right: 0rem;
    bottom: .25rem;
}

.catalogueTitle {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.playlist {
    padding-bottom: 2rem;
}

/* gallery */

.galleryGrid {
    display: grid;
    grid-template-columns: repeat(5,20%) ;
    grid-template-rows: 10rem 10rem 10rem 10rem 10rem 10rem 10rem;
    grid-template-areas:
    "SetUp SetUp SetUp electricGuitar electricGuitar"
    "SetUp SetUp SetUp electricGuitar electricGuitar"
    "SetUp SetUp SetUp panels panels"
    "mic pedals door panels panels"
    "strings drums drums panels panels"
    "acoustic drums drums panels panels"
    "acoustic keyboards toms panels panels";
    grid-row-gap: 0.2rem;
    grid-column-gap: 0.2rem;
    margin-top: 6.25rem;
}

.galleryImg1 {
    grid-area: mic;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.galleryImg2 {
    grid-area: drums;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.galleryImg3 {
    grid-area: pedals;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.galleryImg4 {
    grid-area: door;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.galleryImg5 {
    grid-area: strings;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.galleryImg6 {
    grid-area: SetUp;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.galleryImg7 {
    grid-area: keyboards;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center left;
}

.galleryImg8 {
    grid-area: acoustic;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.galleryImg9 {
    grid-area: electricGuitar;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.galleryImg10 {
    grid-area: toms;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.galleryImg11 {
    grid-area: panels;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* services */

.services {
    background-color: #fe9900;
    align-content: center;
    text-align: center;
    margin-top: 6.25rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.servicesTitle {
    padding: 2rem;
}

.servicesFlex {
    display: flex;
    flex-direction: row;
}

.servicesBoxes {
    width: 45%;
    border-style: dashed;
    border-color: white;
    border-radius: 2rem;
    border-width: 0.1rem;
    margin: 1em;
}

.servicesArticles {
    height: 100%;
    width: 100%;
}

.servicesTitles {
    padding-top: 2rem;
}

.servicesImgs {
    height: 90%;
    width: 90%;
    border-style: inset;
    border-color: white;
    border-radius: 2rem;
    border-width: 4px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.servicesTexts {
    padding-bottom: 2rem;
}

/* contact */

.contactFlex {
    background-color: #fe9900;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 6.25rem;
}

.contact {
    width: 50%;
    font-size: larger;
}

.contactImg {
    height: 100%;
    width: 50%;
    object-fit: cover;
}

.contactBox {
    border-style: dashed;
    border-color: white;
    border-radius: 2rem;
    border-width: 0.1rem;
    margin: 2rem;
    padding: 2rem;
}

.contactTitle {
    font-size: x-large;
    text-align: center;
}

.contactText {
    text-align: center;
    padding-bottom: 2rem;
}

.inputsWidth {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.textsMargins {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.servicesMargins {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.divider {
    border-style: dashed;
    border-color: white;
    border-radius: 2rem;
    border-width: 0.1rem;
    margin-top: 2rem;
}

.fullNameBlock {
    display: block;
}

.emailBlock {
    display: block;
}

.PhoneBlock {
    display: block;
}

.languageBlock {
    display: block;
    margin-top: 2rem;
}

.PreferredContactMethodFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.PreferredContactMethodBlock {
    display: block;
    padding-top: 2rem;
}

.emailInputSpacing {
    margin-right: 0.5rem;
}

.phoneInputSpacing {
    margin-left: 2rem;
    margin-right: 0.5rem;
}

.serviceBlock {
    display: block;
}

.messageBlock {
    display:block;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.queryMessage {
    width: 100%;
    margin-bottom: 2rem;
}

.fileFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.25rem;
}

.SubmitFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem;
}

.submitButton {
    height: 1.5rem;
    width: 20%;
    border-radius: 2rem;
    border-color: white;
}

/* FOOTER */


footer {
    color: white;
    background-color: black;
    text-align: center;
    position: relative;
}

.socialmedia {
    padding: 1rem;
}

a {
    text-decoration: none;
}
.copyright {
    padding: 0rem 1rem 1rem 1rem;
}
