@mixin gallery ($gridearea, $height, $width, $objectfit, $objectposition) {
    grid-area: $gridearea;
    height: $height;
    width: $width;
    object-fit: $objectfit;
    object-position: $objectposition;
}