.galleryGrid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 10rem 10rem 10rem 10rem 10rem 10rem 10rem;
    grid-template-areas:
        "SetUp SetUp SetUp electricGuitar electricGuitar"
        "SetUp SetUp SetUp electricGuitar electricGuitar"
        "SetUp SetUp SetUp panels panels"
        "mic pedals door panels panels"
        "strings drums drums panels panels"
        "acoustic drums drums panels panels"
        "acoustic keyboards toms panels panels";
    grid-row-gap: 0.2rem;
    grid-column-gap: 0.2rem;
    margin-top: 6.25rem;
    margin-bottom: 0.25rem;
}

.galleryImg1 {
    @include gallery (mic, 100%, 100%, cover, center)
}
.galleryImg2 {
    @include gallery (drums, 100%, 100%, cover, center)
}
.galleryImg3 {
    @include gallery (pedals, 100%, 100%, cover, center)
}
.galleryImg4 {
    @include gallery (door, 100%, 100%, cover, center)
}
.galleryImg5 {
    @include gallery (strings, 100%, 100%, cover, center)
}
.galleryImg6 {
    @include gallery (SetUp, 100%, 100%, cover, center)
}
.galleryImg7 {
    @include gallery (keyboards, 100%, 100%, cover, center)
}
.galleryImg8 {
    @include gallery (acoustic, 100%, 100%, cover, center)
}
.galleryImg9 {
    @include gallery (electricGuitar, 100%, 100%, cover, center)
}
.galleryImg10 {
    @include gallery (toms, 100%, 100%, cover, center)
}
.galleryImg11 {
    @include gallery (panels, 100%, 100%, cover, center)
}


