/* budget estimator */


.budgetFlex {
    @extend .contactFlex;
}

.budget {
    @extend .contact;
}

.budgetTitle {
    text-align: center;
    padding: 2rem;
}

.budgetText {
    @extend .contactText;
}

.projectsQtyBlock {
    @extend .languageBlock;
}

#projectsQty {
    font-size: medium;
}

.projectsTitle {
    font-size: 120%;
    font-style: italic;
}

.observationsMessage {
    @extend .queryMessage;
    padding-bottom: -2rem;
}

.submitButtonHidden {
    @extend .submitButton;
    visibility: hidden;
}

.submitButtonVisible {
    @extend .submitButton;
}

.servicesFieldHidden {
    display: none;
}

.servicesFieldVisible {
    display: contents;
}

.projectTitle {
    font-size: 100%;
    font-style: medium;
}