.bg-img-1 {
    background-image: url("../../assets/img/carousel/1.jpg");;
}
.bg-img-2 {
    background-image: url("../../assets/img/carousel/2.jpg");;
}
.bg-img-3 {
    background-image: url("../../assets/img/carousel/3.jpg");;
}
.bg-img-4 {
    background-image: url("../../assets/img/carousel/4.jpg");;
}

.carousel-image {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}